li {
    font-family: 'Fira Mono', monospace;
    list-style-type: none;
    border-left: 2px solid #FFFFFF;
    padding-left: 3px;
}
  
@keyframes blink { 
    50% {
        padding-left: 3px;
        border-left: 2px solid #000000; 
    } 
 }

li:hover {
    animation: blink .5s step-end infinite alternate;
 }