
.full-file-button{
	border: none;
	padding: 0;
	background-color: transparent;
	font-family: inherit;
	cursor: pointer;
}

.full-file-button_hb{
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  color: var(--uiButtonBgColorHover);
  
  border-width: 2px;
  border-style: solid;
  border-color: var(--uiButtonBgColorHover);
}

.full-file-button_hb{
	--uiButtonBgColorHover: var(--buttondBgColorHover);
    --uiButtonTextColorHover: var(--buttonTextColorHover);
  
	position: relative;
	overflow: hidden;
	transition: color .5s ease-out;
}

.full-file-button_hb:before{
	content: "";
	background-color: var(--uiButtonBgColorHover);
}

.full-file-button_hb:focus{
	outline: none;
}

.full-file-button_hb:hover, .button_hb:focus{
	color: var(--uiButtonTextColorHover);
}

.full-file-button_hb .button__icon, .button_hb:not(.button_hidden-text) .button__label{
	position: relative;
	z-index: 2;
}

.full-file-button_hb-type3:before{
	width: 110%;
	height: 0;
	opacity: 0;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate3d(-50%, -50%, 0);
	will-change: opacity, height;

	transition-property: opacity, height;
	transition-duration: .25s, .25s;
    transition-delay: .15s, 0s;
    transition-timing-function: cubic-bezier(0, 0, 0.11, 1.24);
}

.full-file-button_hb-type3:hover:before, .full-file-button_hb-type3:focus:before{
	opacity: 1;
    height: 110%;
    transition-duration: .25s, .4s;
    transition-delay: 0s;
}

.full-file-button_hb{
  --buttonTextColor: #448AFF;
  --buttondBgColorHover: #000000;
  --buttonTextColorHover: #FFFFFF;
}
